# Database Configuration
DB_USER=postgres
DB_PASSWORD=write_a_secure_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=secure_vault

# JWT Configuration
SECRET_KEY=generate_a_jwt_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Encryption Configuration
ENCRYPTION_KEY=generate_an_aes_key_here